

.general-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: nowrap;
    justify-content: space-between;

    border: 0px solid;
    align-items: center;
    z-index: 0;
}

.general-item {
    padding: 5px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    z-index: 1;
}

.left {
    width: 300px;
    background: tomato;
}

.right {
    width: 300px;
    background: green;
}