/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: black;
  background-color: white;
}

#conf {
  display:none;
}

a {
  color: #ff9a18;
  text-decoration: none;
}

/* --------------------------------

Main components

-------------------------------- */
header {

  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 0px;
  margin-bottom: 20px;
  background-color: #414345;
  opacity: 0.8;
  border-radius: 3px;
  margin-left: -20px;
  margin-right:  -25px;
  margin-top:  -10px;
}
header h1 {
  padding: 5px 5px 5px 5px;
  color: white;
  font-size: 14px;

}

.overlay {
  color:#FFFFFF;
  padding-left: 20%;
  padding-right: 20%;

}

.overlay h1{
  color:#FFFFFF;
  text-align: center;
  font-size:24px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.overlay p{
  color:#FFFFFF;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 100;
}

.cross {
  cursor: pointer;
  cursor: hand;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 25px;
  color: #bcbcbc;
}

.cross:hover {
  color: white;
}

input, select, textarea{
  color: #a19f9d;
}

textarea:focus, input:focus {
  color: #000000;
}

.contenair {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.content {
  position: relative;
}

.webgl {
  display: inline-block;
  position: absolute;
  float: left;
}

.flex-content {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: -moz-box;
  display: flex;

  -webkit-flex-flow: nowrap;
  -moz-flex-flow: nowrap;
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;

  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.thumbnail-design {
   position: relative;
   width: 150px;
   height: 100px;
   display: block;
   margin-left : 20px;
   margin-top: 15px;
   margin-bottom: 15px;
 }

  .thumbnail-design:hover {
    background-color: lightgrey;
    opacity: 0.4;
  }

  .thumbnail-design img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.thumbnail {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: visible;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.thumbnail:hover {
  overflow: visible;
  background-position: top;
  background-color: lightgrey;
  opacity: 0.5;
}

.thumbnail-text {
  text-align: center;
  color: black;
  overflow: visible;
  margin-top: 105%;
  font-size: 12px;
  font-weight: 300;
}


.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.box-control {
  position: absolute;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: -moz-box;
  display: flex;
  width: 110px;
  color: white;
  left: 50%;
  top: 100%;
  margin-top: -100px;
  margin-left: -45px;
  z-index: 10;

}

  .box-control span {
    color: white;
    background-color: #414345;
    opacity: 0.8;
    font-size: 25px;
    text-align: center;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    -ms-transition: background .2s ease-out;
    transition: background .2s ease-out;
    padding: 5px 5px 5px 5px;
  }

  .box-control span:hover {
    background: #ff9a18;
  }

.box-demo {
  position: absolute;
  background-color: #414345;
  border-radius: 4px;
  color: white;
  opacity: 0.5;
  left: 50px;
  top: 10px;
  right: 50px;
  height: 40px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  z-index: 10;
  line-height: 40px;
}

.box-mail {
  position: absolute;
  background-color: #ffffff;
  float: left;
  width: 350px;
  height: 173px;
  margin: 10px 0px 0px 15px;
  box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
  z-index: 10;

}

  .box-mail h1 {
    border-bottom: 2px solid;
    border-bottom-color: #ff9a18;
    border-bottom-width: 4px;
    margin: 10px 15px 12px 15px;
    padding-bottom: 6px;
    color: #414345;
    font-size: 15px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;

  }

.af-form-overlay {
  text-align: center;

}

.af-form-overlay label {

}

.af-form-overlay input {
  display: block;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 250px;
  height: 35px;
}

.af-form-body {
  text-align: left;
}

.af-form-body label {
  font-size: 12px;
  display: block;
}

.af-form-body input {
  display: block;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  width: 320px;
  height: 35px;
}

.button {
  width: 110px;
  margin-left: 10px;
  background-color: #00d100;
  font-size: 13px;
  border: none;
  color: white;
  cursor: pointer;
  cursor: hand;
}

  .button:hover {
    background-color: #ff9a18;
    color: white
  }

.cd-tabs {
  position: relative;
}

.left {
  float: left;
  width: 350px;
  margin: 205px 0px 0px 15px;
  z-index: 10;
  box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
}


.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
  z-index: 1;
}

.cd-tabs-navigation {
  width: 80px;
  float: left;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 80px;
  width: 80px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #c3c2b9;
  padding-top: 46px;

}
.no-touch .cd-tabs-navigation a:hover {
  color: #414345;
  background-color: rgba(233, 230, 202, 0.3);
}
.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 4px 0 #ff9a18;
  color: #414345;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -15px;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("../img/cust_icons30px.svg");
  background-repeat: no-repeat;
}
.cd-tabs-navigation a[data-content='cust']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='design']::before {
  background-position: -30px 0;
}
.cd-tabs-navigation a[data-content='dim']::before {
  background-position: -60px 0;
}
.cd-tabs-navigation a[data-content='mat']::before {
  background-position: -90px 0;
}
.cd-tabs-navigation a[data-content='finitions']::before {
  background-position: -120px 0;
}
.cd-tabs-navigation a[data-content='cust'].selected::before {
  background-position: 0 -30px;
}
.cd-tabs-navigation a[data-content='design'].selected::before {
  background-position: -30px -30px;
}
.cd-tabs-navigation a[data-content='dim'].selected::before {
  background-position: -60px -30px;
}
.cd-tabs-navigation a[data-content='mat'].selected::before {
  background-position: -90px -30px;
}
.cd-tabs-navigation a[data-content='finitions'].selected::before {
  background-position: -120px -30px;
}


.cd-tabs-content {
  background: #ffffff;
  min-height: 400px;
}
.cd-tabs-content li {
  display: none;
  padding: 1em 2em 2em 7em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  color: #414345;
  margin-bottom: 5px;
  margin-left: -10px;
}


@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



